<h1>To Do List</h1>
<h2>Flight: @Model["flight"].GetStatus()</h2>
<hr />
@if (@Model["flightCities"].Count != 0)
{
  <h4>This flight has these cities:</h4>
  <ul>
    @foreach (var city in @Model["flightCities"])
    {
      <li>@city.GetName()</li>

    }
  </ul>
}
<h4>Add a city to this flight:</h4>
<form action='/flight/add_city' method='post'>
  <input id='flight-id' name='flight-id' type='hidden' value='@Model["flight"].GetId()'>
  <label for='city-id'>Select a city</label>
  <select id='city-id' name='city-id' type='text'>
    @foreach (var city in @Model["allCities"])
    {
      <option value='@city.GetId()'>@city.GetName()</option>
    }
  </select>
  <button type='submit'>Add</button>
</form>
<p><a href="/">Return to Main Page</a></p>
